<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.lxrookie.start.substance.dao.LogTypeDao">
    <resultMap id="BaseLogRecordResultMap" type="org.lxrookie.start.substance.entity.LogTypeEntity">
            <id column="LOG_TYPE_ID"               property="logTypeId"              jdbcType="VARCHAR" />
            <result column="LOG_TYPE_DIRECTORY"    property="logTypeDirectory"       jdbcType="VARCHAR" />
            <result column="LOG_TYPE_STATE"        property="logTypeState"           jdbcType="INTEGER" />
            <result column="LOG_TYPE_CREATE_TIME" property="logTypeCreateTime"      jdbcType="TIMESTAMP" />
            <result column="LOG_TYPE_DIRECTORY_DESCRIBE" property="logTypeDirectoryDescribe"      jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectLogTypeEntityByKey" resultMap="BaseLogRecordResultMap">
        select *from SYS_LOG_TYPE WHERE key = #{key}
    </select>


</mapper>