<!DOCTYPE html>
<html lang="en">
<body>
   <center>
            <h1>LogTypeInsert</h1>
        <form action="insertLogType.html" method="post" modelAttribute="LogTypeEntity">
                日志类型：<input id="logDirectory" name="logTypeDirectory"/>
                日志状态码:<input id="logTypeOperationStatusCode" name="logTypeOperationStatusCode"/>
                日志操作描述:<input id="logTypeDirectoryDescribe" name="logTypeDirectoryDescribe"/>
                <button  type="submit">提交</button>
        </form>
   </center>

</body>
</html>